<ul class="pagination col-md-12" *ngIf="totalPages > 1">
    <li class="pagi-item {{1 === pageNumber ? 'disable' : ''}}" (click)="nextOrPrevPage(false)"><span
            class="link-pagination">Previous</span>
    </li>
    <li class="pagi-item {{i === pageNumber ? 'active' : ''}}" (click)="changePage(i)" *ngFor="let i of numbers"><span
            href="#" class="link-pagination">{{i}}</span></li>
    <li class=" pagi-item {{totalPages === pageNumber ? 'disable' : ''}}" (click)="nextOrPrevPage(true)"><span href="#"
            class="link-pagination">Next</span></li>
</ul>