<header>
    <!-- not include-->
</header>
<!-- WRAPPER-->
<div id="wrapper-content" class="w-100 h-100 position-absolute">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper" class="h-100">
        <!-- MAIN CONTENT-->
        <div class="main-content h-100">
            <!-- CONTENT-->
            <div class="content h-100">
                <div class="section h-100">
                    <div class="page-404 height-full-screen h-100">
                        <div class="page-404-wrapper">
                            <div class="page-404-content"><a href="index.html"><img src="assets/images/logo-2.png"
                                        alt="" class="img-responsive logo" /></a>

                                <div class="whoop">
                                    <h1 class="text">whoops!!!</h1>
                                </div>
                                <p class="description">The page you are looking for was not found.</p><img
                                    src="assets/images/libs/404.png" alt="" class="img-responsive img-404" />

                                <div class="group-button"><a routerLink="/pages/home" class="btn btn-white">go
                                        back</a><a routerLink="/pages/home" class="btn btn-transparent white">get
                                        help</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUTTON BACK TO TOP-->
    <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
</div>
<!-- FOOTER-->
<footer></footer>