<footer>
    <div class="bg-dark">
        <div class="clearfix"></div>
        <div class="hyperlink">
            <div class="container">
                <div class="pull-left hyper-left"><span>&copy; Designed by</span><span class="name">swlabs.</span></div>
                <div class="pull-right hyper-right">
                    <ul>
                        <li><a href="index.html" class="link">Home</a></li>
                        <li><a href="#" class="link">FAQ</a></li>
                        <li><a href="#" class="link">Privacy & Term</a></li>
                        <li><a href="contact.html" class="link">Contact</a></li>
                        <li><a href="#" class="link">Help</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>